# How many users should we make for students?
howmanystudents = 1

# Email address to send alerts to
notifemail = "CHANGE_THIS@TO_THE_RIGHT_MAIL.com"

# The monthly budget in US Dollars.
# There a small bug here: if you input an integer, tf will want to re-apply this every time.
budget = 19.99

#The Keybase user that will be used to encrypt passwords.
keybaseuser = "keybase:CHANGEME"
